:root {
    --nav-height: 70px;
}
body {
    padding-top: calc(100vh + 15px);
    background-color: whitesmoke;
}
.navbar-container {
    z-index: 1000;
}
.navbar-container.scrolled {
    background: url("../resources/images/backgrounds/beach-bg.png") no-repeat 0 calc(-100vh + 70px);
}
.navbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    min-height: var(--nav-height);
}
.navbar * {
    color: #fff;
    font-weight: bold;
}
.navbar .navbar-brand {
    font-size: 27px;
}
.navbar .navbar-brand:hover {
    color: white;
}
.navbar .navbar-collapse {
    padding-left: 30px;
}
.navbar .navbar-collapse .nav-item:hover .nav-link {
    color: black;
}
.banner {
    height: 100vh;
    background: url("../resources/images/backgrounds/beach-bg.png");
}
.banner .coco {
    background: url("../resources/images/backgrounds/beach-coco.png") transparent no-repeat;
}

.banner .btn {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: 0.5s;
    border-radius: 15px;

}
.banner .btn:hover {
    background: rgba(0, 0, 0, 0.5);
}
.click-me {
    margin-top: 400px;
}
