:root {
  --nav-height: 70px;
}

.body {
  background-color: whitesmoke;
  padding-top: var(--nav-height);
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.padding {
  padding-top: 100vh;
}

.navbar-container {
  z-index: 1000;
}

.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 14.5px 0;
}
.navbar * {
  color: #fff;
}
.navbar .navbar-brand {
  padding-top: 0;
  font-size: 25px;
  font-family: "Otomanopee One", sans-serif;
}
.navbar .navbar-brand:hover {
  color: white;
  cursor: pointer;
}
.navbar .navbar-collapse {
  padding-left: 30px;
}
.navbar .navbar-collapse .nav-item:hover .nav-link:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.banner-container.hide .banner {
  height: var(--nav-height);
}
.banner-container.hide .banner * {
  display: none !important;
}
.banner-container .banner {
  height: 100vh;
  background: url("../resources/images/backgrounds/beach-bg.jpg") fixed;
  background-size: cover;
  z-index: 1;
}
.banner-container .banner .coco {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("../resources/images/backgrounds/beach-coco.png") !important;
  background-color: transparent;
  background-attachment: fixed;
  background-size: cover;
}
.banner-container .banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--nav-height);
  height: calc(100vh - var(--nav-height));
}
.banner-container .banner .container * {
  color: #fff;
}
.banner-container .banner .container .profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.banner-container .banner .container svg path {
  background-color: red;
}
.banner-container .banner .container .greeting {
  margin-top: 10px;
  margin-bottom: 20px;
}
.banner-container .banner .container .greeting > * {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  font-family: "Fredoka One", sans-serif;
  border-radius: 30px;
}
.banner-container .banner .container .click-me {
  font-size: 2rem;
  transition: 0.5s;
  border-radius: 15px;
}
.banner-container .banner .container .click-me:hover {
  background: rgba(0, 0, 0, 0.5);
}
#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.card .project-thumb {
  padding: 50px 50px 25px;
}
.card .card-body {
  padding: 0 50px 50px;
}
.card.details {
  margin-bottom: 5px;
  margin-right: 10px;
}
.card.details .card-body {
  padding: 50px;
}
.card .btn-pair .btn {
  width: 50%;
}

.text-responsive {
  text-align: justify;
}

.section.about a {
  text-decoration: none;
  color: black;
}
.section.about h6 {
  margin: 0;
}
.section.about .about-icon {
  display: block;
  margin: auto;
}
.section.about h4 {
  font-size: 1.5em;
  text-align: justify;
}

@media (max-width: 575.98px) {
  .navbar .navbar-brand {
    margin-right: 0;
    font-size: 20px;
  }
  .banner-container .banner .container .greeting .s1 {
    font-size: 40px;
    line-height: 40px;
  }
  .banner-container .banner .container .greeting .s2 {
    font-size: 20px;
    line-height: 20px;
  }
  .banner-container .banner .container .greeting .s3 {
    font-size: 15px;
    line-height: 15px;
  }
  .anchor {
    height: 70px;
  }
  .text-responsive {
    font-size: 14px;
  }
  .about-icon {
    width: 75px;
    height: 75px;
  }
  .card .project-thumb {
    padding: 25px 25px 15px;
  }
  .card .card-body {
    padding: 0 25px 25px;
  }
  .card.details .card-body {
    padding: 25px;
  }
}
@media (min-width: 576px) {
  .banner .greeting .s1 {
    font-size: 50px;
    line-height: 50px;
  }
  .banner .greeting .s2 {
    font-size: 40px;
    line-height: 40px;
  }
  .banner .greeting .s3 {
    font-size: 25px;
    line-height: 25px;
  }
  .anchor {
    height: 72px;
  }
  .text-responsive {
    font-size: 18px;
  }
  .about-icon {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 768px) {
  .banner .container .greeting .s1 {
    font-size: 50px;
    line-height: 50px;
  }
  .banner .container .greeting .s2 {
    font-size: 40px;
    line-height: 40px;
  }
  .banner .container .greeting .s3 {
    font-size: 30px;
    line-height: 30px;
  }
  .anchor {
    height: 87px;
  }
  .text-responsive {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .navbar .navbar-brand {
    font-size: 35px;
  }
  .navbar .navbar-collapse .nav-link {
    font-size: 25px;
  }
  .greeting .s1 {
    font-size: 60px;
    line-height: 60px;
  }
  .greeting .s2 {
    font-size: 50px;
    line-height: 50px;
  }
  .greeting .s3 {
    font-size: 40px;
    line-height: 40px;
  }
  .text-responsive {
    font-size: 25px;
  }
}
.custom-jconfirm-buttons {
  display: flex !important;
  gap: 15px;
}

.rocket {
  font-size: 2.5em;
}

/*# sourceMappingURL=index.css.map */
